# Created by https://www.toptal.com/developers/gitignore/api/java

### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.rar
hs_err_pid*
replay_pid*

# --- carpetas de compilación (agregado) ---
/out/
/bin/
/target/
/build/

# --- IDEs (agregado) ---
.vscode/
.idea/
*.iml
.settings/
.classpath
.project

# --- SO (agregado) ---
.DS_Store
Thumbs.db

# --- tus carpetas de apuntes ---
consignaPreEntrega/
techlab/
clasesTalentoTech/